---
title: My awesome store
---

<div class="row">
  <h1>
    Products
  </h1>
</div>

<div class="row">
  <ul class="small-block-grid-1 large-block-grid-3">

    <% data.contentful.product.each do |elem| %>
      <% p = elem[1] %>
      <li>
        <a href='<%= "products/#{p.slug}.html" %>'>
          <%= image_tag p.image.url %>
        </a>

        <div>
          <strong><%= p.name %></strong>
        </div>

        <div>
          <%= number_to_currency(p.price, :unit => "$") %>
        </div>

      </li>
    <% end %>

  </ul>
</div>
