---
title: "The T-Rex VR Store: proudly powered by Contentful, Middleman & Snipcart"
---

<div class="row column text-center">
  <h1>
    The T-Rex VR Store
  </h1>
</div>

<div class="row">
    <% data.contentful.product.each do |elem| %>
      <% p = elem[1] %>
      <div class="small-6 columns">
        <a href='<%= "products/#{p.slug}.html" %>'>
          <%= image_tag p.image.url, class: "thumbnail" %>
        </a>

        <div>
          <strong><%= p.name %></strong>
        </div>

        <div>
          <%= number_to_currency(p.price, :unit => "$") %>
        </div>

      </div>
    <% end %>
</div>
